---
import { categories } from '@/lib/categories';

interface Props {
  currentSlug?: string;
}

const { currentSlug } = Astro.props;
---
<aside class="category-nav">
  <h3>Categories</h3>
  <ul>
    {categories.map((cat) => (
      <li>
        <a
          href={`/${cat.slug}/`}
          aria-current={cat.slug === currentSlug ? 'page' : undefined}
        >
          {cat.icon} {cat.label}
        </a>
      </li>
    ))}
  </ul>
</aside>
